<div class="YRrCJSr_j5nopfm4duUc wfz9oKCp_svYP9oWrZuR wBVMFkIGfrKshbvi2gS1 jtAJHOc7mn7b4IKRO59D h8KYXnua2NT4kTVzieom">

<aside id="sidebar" style="padding-top:3rem!important"
    class="YRrCJSr_j5nopfm4duUc _SmdlCf6eUKB_V9S5IDj _LPVUrp9Uina5fcERqWC uQByIGHtHssL9HoPQXR4 TYmpscr1PwuC1dpYXDpM bXWhrLpoBVu4aMI8XQxr e8VqoQNK0mbkRFDL3LMV VQS2tmQ_zFyBOC2tkmto wfz9oKCp_svYP9oWrZuR nUVQqdd_RQjvvOrcRIpD uLPch_bqyJDXwe5tynMV gZ3KuFw1JESHhOJhjT8j _YtPVN_LlqV6t4rglMAI bNOx3Wgl24m9GoljaM1X eVV36cVCqgCWHoUvdy_7"
    aria-label="Sidebar">
    <div
        class="YRrCJSr_j5nopfm4duUc ahOqFrhzLjivRe8a1kX_ e8VqoQNK0mbkRFDL3LMV _74lpPUMEtHf6F0_fjLe Yr1oeNFASSARgkvkNsPa qG4UENFSlNnopb6lM8a8 _Ybd3WwuTVljUT4vEaM3 hEIh0_vxSXD_ZBXYxnd0 qUWbS_LTZujDB4XCd11V _1jTZ8KXRZul60S6czNi _fGhMnSfYmaGrv7DvZ00">
        <div
            class="YRrCJSr_j5nopfm4duUc _lTTGxW9MVI40FyDCtmr e8VqoQNK0mbkRFDL3LMV _74lpPUMEtHf6F0_fjLe LVS5VhNiuUNp2iESGVfr pjVv_HvtzX_QkbymyvoG">
            <div
                class="_74lpPUMEtHf6F0_fjLe _Cj_M6jt2eLjDgkBBNgI wezTbYJgxYJp5ZDqX67N _Ybd3WwuTVljUT4vEaM3 Zy1Pypi71Xu6guex6urN NIAblPiyeuYQ0zW671xb _1jTZ8KXRZul60S6czNi XpuPpk9eXhVCrleKmXDr">
                <ul class="hwCTzGuw3Wvg2a388A7l TVHgSaRh3muGJct_epr9">
                    <li>
                        <form action="#" method="GET" class="F34pkf_DAj2DlPtfAEMV">
                            <label for="mobile-search" class="_DVAfiyo21kM68EUVzEQ">Search</label>
                            <div class="ahOqFrhzLjivRe8a1kX_">
                                <div
                                    class="YRrCJSr_j5nopfm4duUc pq2JRWtiWcwYnw3xueNl _WGbLgD5wr3m_9WZl9Ua TYmpscr1PwuC1dpYXDpM Q_jg_EPdNf9eDMn1mLI2 aa_y6SeayB9fNgBD5ROa qArZHwmmp1ULq_EXc7FF">
                                    <svg class="ADSeKHR1DvUUA48Chci_ rxe6apEJoEk8r75xaVNG PeR2JZ9BZHYIH8Ea3F36"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input id="networkSearch" type="text" name="email" id="mobile-search"
                                    class="jtAJHOc7mn7b4IKRO59D pXhVRBC8yaUNllmIWxln vpDN1VEJLu5FmLkr5WCk __9sbu0yrzdhGIkLWNXl c8dCx6gnV43hTOLV6ks5 mveJTCIb2WII7J4sY22F GdTcGtoKP5_bET3syLDl LceKfSImrGKQrtDGkpBV _Vb9igHms0hI1PQcvp_S t6gkcSf0Bt4MLItXvDJ_ phuq9OcM4E3Gy9MJy0RC olxDi3yL6f0gpdsOFDhx jqg6J89cvxmDiFpnV56r Mmx5lX7HVdrWCgh3EpTP H7KQDhgKsqZaTUouEUQL duXR6Hcu_44X_243WcOl KpCMWe32PQyrSFbZVput q6szSHqGtBufkToFe_s5"
                                    placeholder="Search...">
                            </div>
                        </form>
                    </li>
                    <li>
                        <a href="https://dashboard.yeahgames.net" title="The dashboard homepage."
                            class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl mveJTCIb2WII7J4sY22F _7KA5gD55t2lxf9Jkj20 BpcA_ZTX79XDgSc71n2v duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX">
                            <i class="fa-solid fa-pie-chart"></i>&#160;
                            <span class="oA7zcT_42jVeFuWTXQnq" sidebar-toggle-item="">Dashboard</span>
                        </a>
                    </li>




                    <li>
                        <button type="button"
                            class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 t6gkcSf0Bt4MLItXvDJ_ d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl mveJTCIb2WII7J4sY22F bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX"
                            aria-controls="dropdown-users" data-collapse-toggle="dropdown-users" aria-expanded="false">
                            <i class="fa-solid fa-key"></i>
                            <span
                                class="_74lpPUMEtHf6F0_fjLe oA7zcT_42jVeFuWTXQnq upQp7iWehfaU8VTbfx_w BHrWGjM1Iab_fAz0_91H"
                                sidebar-toggle-item="">Accounts</span>
                            <svg sidebar-toggle-item="" class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <ul id="dropdown-users" class="TVHgSaRh3muGJct_epr9 b9aD6g2qw84oyZNsMO8j _SmdlCf6eUKB_V9S5IDj">
                            <li>
                                <a href="https://accounts.yeahgames.net/login?continue={{site.domain}}{{page.url | relative_url}}"
                                    class="d3C8uAdJKNl1jzfE9ynq __9sbu0yrzdhGIkLWNXl _43MO1gcdi2Y0RJW1uHL mveJTCIb2WII7J4sY22F YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j xfuvbLgYErj_fGTMHhLc duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX"><i
                                        class="fa-solid fa-key"></i>&#160;Log in</a>
                            </li>
                            <li>
                                <a href="https://accounts.yeahgames.net/logout"
                                    class="d3C8uAdJKNl1jzfE9ynq __9sbu0yrzdhGIkLWNXl _43MO1gcdi2Y0RJW1uHL mveJTCIb2WII7J4sY22F YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j xfuvbLgYErj_fGTMHhLc duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX"><i
                                        class="fa-solid fa-right-from-bracket"></i>&#160;Log out</a>
                            </li>
                            <li>
                                <a href="https://accounts.yeahgames.net/create"
                                    class="d3C8uAdJKNl1jzfE9ynq __9sbu0yrzdhGIkLWNXl _43MO1gcdi2Y0RJW1uHL mveJTCIb2WII7J4sY22F YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j xfuvbLgYErj_fGTMHhLc duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX"><i
                                        class="fa-solid fa-plus-square"></i>&#160;Create an account</a>
                            </li>
                            <li>
                                <a href="https://settings.yeahgames.net"
                                    class="d3C8uAdJKNl1jzfE9ynq __9sbu0yrzdhGIkLWNXl _43MO1gcdi2Y0RJW1uHL mveJTCIb2WII7J4sY22F YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j xfuvbLgYErj_fGTMHhLc duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX"><i
                                        class="fa-solid fa-gear"></i>&#160;Settings</a>
                            </li>
                            <li>
                                <a href="https://members.yeahgames.net"
                                    class="d3C8uAdJKNl1jzfE9ynq __9sbu0yrzdhGIkLWNXl _43MO1gcdi2Y0RJW1uHL mveJTCIb2WII7J4sY22F YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 BpcA_ZTX79XDgSc71n2v _7KA5gD55t2lxf9Jkj20 bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j xfuvbLgYErj_fGTMHhLc duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX _9dH7mrOkzM4RTmidHTs jqg6J89cvxmDiFpnV56r"><i
                                        class="fa-solid fa-address-card"></i>&#160;Profiles</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://admin.yeahgames.net" title="The admin dashboard homepage."
                            class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl mveJTCIb2WII7J4sY22F _7KA5gD55t2lxf9Jkj20 BpcA_ZTX79XDgSc71n2v duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX">
                            <i class="fa-solid fa-lock"></i>&#160;
                            <span class="oA7zcT_42jVeFuWTXQnq" sidebar-toggle-item="">Admin</span>
                        </a>
                    </li>
                </ul>
                <div class="RLVemQvbW8bmzNf3KoDP TVHgSaRh3muGJct_epr9">
                    <a href="https://docs.yeahgames.net" target="_blank"
                        class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl mveJTCIb2WII7J4sY22F bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j _7KA5gD55t2lxf9Jkj20 BpcA_ZTX79XDgSc71n2v duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX">
                        <i class="fa-solid fa-file"></i>
                        <span class="oA7zcT_42jVeFuWTXQnq" sidebar-toggle-item="">Docs</span>
                    </a>

                    <a href="mailto:dashboard@yeahgames.net" target="_blank"
                        class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 FJRldeiG2gFGZfuKgp88 d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl mveJTCIb2WII7J4sY22F bcsWqjK52oeyT6oeC2Az gZ3KuFw1JESHhOJhjT8j _7KA5gD55t2lxf9Jkj20 BpcA_ZTX79XDgSc71n2v duXR6Hcu_44X_243WcOl OPrb_iG5WDy_7F05BDOX">
                        <i class="fa-solid fa-globe"></i>
                        <span class="oA7zcT_42jVeFuWTXQnq" sidebar-toggle-item="">Help</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="_SmdlCf6eUKB_V9S5IDj pq2JRWtiWcwYnw3xueNl VuoyqWQkm5MTiE515qz8 TYmpscr1PwuC1dpYXDpM Nm7xMnguzOx6J5Ao7yCU _wYiJGbRZyFZeCc8y7Sf d4louhNic5PFgJGRKqn6 t6gkcSf0Bt4MLItXvDJ_ _YtPVN_LlqV6t4rglMAI"
            sidebar-bottom-menu="">

            <a href="https://settings.yeahgames.net" data-tooltip-target="tooltip-settings"
                class="_k0lTW0vvzboctTxDi2R Nm7xMnguzOx6J5Ao7yCU FJRldeiG2gFGZfuKgp88 PeR2JZ9BZHYIH8Ea3F36 Y3FxyuXtj2gecrGXvLEI SA5DoMHfwOFtY4h_qzuM ZnBoTVi7VOJdCLSSU62n _7KA5gD55t2lxf9Jkj20 OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW">
                <svg class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <div id="tooltip-settings" role="tooltip"
                class="VPGGthdu3cy_ZP7AL7dt pq2JRWtiWcwYnw3xueNl ZBSHeVK3dmgzHTRX3hLO QhmQ_v3mmDFIP9VaVOfb b9aD6g2qw84oyZNsMO8j _Cj_M6jt2eLjDgkBBNgI c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe y6GKdvUrd7vp_pxsFb57 foDHZclRWUf2bqma2a8U mveJTCIb2WII7J4sY22F fzhbbDQ686T8arwvi_bJ Db4Wzva4DMepJJiQLY7M mc9bwhBTHL8mVzJvl6gz rqOAGYeDo9iWuroePkaf H78G_4yayxs5C3xdFbnK jqg6J89cvxmDiFpnV56r">
                Settings page
                <div class="tkX8MMO2MiTlgtbd_jG3" data-popper-arrow=""></div>
            </div>


        </div>
    </div>
</aside>

<div
      class="_SmdlCf6eUKB_V9S5IDj _LPVUrp9Uina5fcERqWC _DGThsbfFGclb6iwA4_9 QhmQ_v3mmDFIP9VaVOfb _JKsnSqP4tIzydAzf5aP yQK4azPzSPqQ3rmcKxWm"
      id="sidebarBackdrop"></div>