{% remote_include https://dashboard.yeahgames.net/api/static/html/declarations.html %}

{% remote_include https://dashboard.yeahgames.net/api/static/html/head.html %}

{% remote_include https://dashboard.yeahgames.net/api/static/html/top.html %}

{% remote_include https://dashboard.yeahgames.net/api/static/html/nav.html %}

{% remote_include https://dashboard.yeahgames.net/api/static/html/sidebar.html %}

<div {% remote_include https://dashboard.yeahgames.net/api/static/html/attributes/main.html %}>
  {{page.content}}
</div>

{% remote_include https://dashboard.yeahgames.net/api/static/html/bottom.html %}